body {
    background-color: #1E1E1E;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
}

.title {
    color: green;
    border: 10px,green;
    border-style: solid;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}

.home {
    color: green;
    border: 10px,green;
    border-style: solid;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.hack {
    color: transparent;
    border: 10px,green;
    border-style: solid;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    display: flex;
}

.modules {
    width: 10em;
    color: green;
    border: 10px,green;
    border-style: solid;
    border-radius: 15px;
    display: flexbox;
}

.modules p a {
    color: green;
    display: flex;
    flex-direction: column;
    text-indent: 5%;
}

.rickroll {
    display: flex;
    margin-left: 8%;
    margin-right: auto;
}